@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitcount Grid Single', 'Segoe UI', Tahoma, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 120vh;
    flex-direction: column;
    background-color: gainsboro;
}
.index-container{
    margin-top:220px;
    font-size:30px;
}

/*```````````scroll top```````````*/
.icon-top {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: gainsboro;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px #555;
}
#myBtn:hover {
  background-color: #868585;

}

/*```````````audio```````````*/
#myAudio {
    display: none;
}

/*```````````section```````````*/
.test {
    width: 500px;
}